body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
    width: 100vw;
    box-sizing: border-box;
}

header {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 1em;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.tagline {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin-top: 0;
}

main {
    padding: 1em;
    max-width: 800px;
    width: 100%;
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    box-sizing: border-box;
}

h1, h2 {
    margin: 0.5em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

li {
    background-color: #333333;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #444444;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li:hover {
    background-color: #05d26d;
}

.playing::before {
    content: '▶';
    color: #ffffff;
    margin-right: 10px;
    display: inline-block;
}

.fa-heart {
    margin-right: 10px;
}

.fa-heart.favorited {
    color: red;
}

.spectrum {
    display: flex;
    align-items: center;
}

.spectrum div {
    width: 4px;
    height: 10px;
    margin: 0 1px;
    background-color: #05d26d;
    animation: spectrum-animation 0.5s infinite;
}

@keyframes spectrum-animation {
    0% { height: 10px; }
    50% { height: 30px; }
    100% { height: 10px; }
}

#status-message {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    z-index: 1000;
}

#status-message.show {
    display: block;
}

.share-icon {
    margin-left: 10px;
    cursor: pointer;
}

#audio-player {
    width: calc(100% - 40px);
    margin: 20px;
    box-sizing: border-box;
}

#stations {
    margin-bottom: 20px;
    width: calc(100%);
    padding: 0 20px;
    box-sizing: border-box;
}

#audio-visualizer {
    width: 100%;
    height: 100px;
    background-color: #000;
}

#volume-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

#volume-control {
    width: 100%;
    margin-left: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    height: 8px;
    appearance: none;
    cursor: pointer;
}

#volume-control::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    background: #05d26d;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
}

#volume-control::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #05d26d;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos para o modal de temporizador */
#timerModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#timerModal .modal-content {
    background-color: #333333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    color: #ffffff;
}

#timerModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#timerModal .close:hover,
#timerModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o modal de compartilhamento */
#shareModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#shareModal .modal-content {
    background-color: #333333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    color: #ffffff;
}

#shareModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#shareModal .close:hover,
#shareModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
