body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden; /* Evita movimento horizontal */
    width: 100vw; /* Define a largura do body para 100% da viewport */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

header {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 1em;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.tagline {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin-top: 0;
}

main {
    padding: 1em;
    max-width: 800px;
    width: 100%;
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

h1, h2 {
    margin: 0.5em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Ajusta a largura das estações para o tamanho do player */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

li {
    background-color: #333333;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #444444;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Inclui padding e border na largura total */
    display: flex;
    align-items: center;
    position: relative; /* Necessário para posicionar o espectro dentro do li */
}

li:hover {
    background-color: #05d26d;
}

li.playing {
    background-color: #05d26d; /* Cor verde para a estação ativa */
}

.playing::before {
    content: '▶'; /* Ícone de play */
    color: #ffffff; /* Cor branca */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    display: inline-block; /* Garante que o ícone apareça corretamente */
}

/* Adicionando o espectro de áudio falso */
li::after {
    content: '';
    display: none;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

li.playing::after {
    display: flex;
    gap: 2px;
}

li.playing::after div {
    width: 2px;
    background: #ffffff;
    animation: bar-animation 1s infinite;
    animation-timing-function: linear;
}

li.playing::after div:nth-child(1) {
    height: 10px;
    animation-delay: 0s;
}

li.playing::after div:nth-child(2) {
    height: 14px;
    animation-delay: 0.1s;
}

li.playing::after div:nth-child(3) {
    height: 8px;
    animation-delay: 0.2s;
}

li.playing::after div:nth-child(4) {
    height: 16px;
    animation-delay: 0.3s;
}

li.playing::after div:nth-child(5) {
    height: 12px;
    animation-delay: 0.4s;
}

@keyframes bar-animation {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.5);
    }
}

#audio-player {
    width: calc(100% - 40px); /* Ajusta a largura do player */
    margin: 20px; /* Adiciona margem de 20px em todas as direções */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

#stations {
    margin-bottom: 20px;
    width: calc(100%); /* Ajusta a largura das estações para o tamanho do player */
    padding: 0 20px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

#audio-visualizer {
    width: 100%;
    height: 100px;
    background-color: #000;
}

#volume-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%; /* Ajusta a largura do container de volume para o tamanho do player */
    padding: 0 20px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

#volume-control {
    width: 100%; /* Ajuste o tamanho da barra de volume */
    margin-left: 10px; /* Espaçamento entre o texto e a barra */
    background-color: #333;
    border: none;
    border-radius: 5px;
    height: 8px;
    appearance: none;
    cursor: pointer;
}

#volume-control::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    background: #05d26d;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
}

#volume-control::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #05d26d;
    border-radius: 50%;
    cursor: pointer;
}

#status-message {
    color: #ffffff;
    background-color: #ff0000;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    display: none; /* Escondido por padrão */
}

#status-message.show {
    display: block; /* Mostrar quando necessário */
}
